@import "./variables.scss";

body {
    margin: 0;
    font-family: $main-font-family;
}

.initial-section {
    background: url("../img/cosmetology-background.jfif") #614149D4;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;

    header {
        color: $white;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        margin-left: 200px;

        p {
            margin-top: 20px;
        }
    }
}