@import "./variables.scss";

body {
    font-family: $main-font-family;
}

.desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .header-item {

    }
}